video {
    visibility: hidden;
}

@media (prefers-color-scheme: light) {
    html {
        filter: invert(1);
    }

    img, yt-formatted-string {
        filter: invert(1);
    }
    yt-formatted-string, yt-formatted-string * {
        /* Make emojis have normal color */
        color: black !important;
    }
}
